.note-list {
    max-width: 100%;
    display: flex;
}
.note-card {
    background-color: rgb(146, 69, 218);
    height: 240px;
    min-width: 150px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    color: aliceblue;
    font-size: 20px;
    display: block;
    justify-content: space-between;
}