.App {
  font-size: 36px;
}
.app-header{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.app-sum {
  padding: 10px;
}