.count-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 100vh;
    padding: 8%;
    align-items: center;
}
.count-b{
    width: 100px;
    height: 40px;
    background-color: rgb(120, 63, 173);
    color: aliceblue;
    border: none;
    font-size: 36px;
    border-radius: 15px;
}